// theme colors
$primary: #fff;
$secondary: #1E1E1E;
$error: #F5F5F5;
$info: #1E1E1E;
$tertiary: #000000;
$demoblue : #C1DCDC;
$Originalblue: #02A0A0; 
$grey: #EEEEEE;
$strongblue: #2283DC;
$lightblue: #5AC0C0;

//spacing//
$margin: 0.5rem;
$padding: 0.5rem;