@import "./components/variable";
@import "./components/reset";
@import "./components/mediaquery";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;  
}

body{
  padding: 0.8rem 0.9rem;
  font-family: "Poppins", sans-serif;
  background: #fcfcfc;
  overflow-x: hidden;
}

header {
    div {
        background: $tertiary;
        width:1400px;
        height: 30px;
        padding: 10px 15px;
    }
    p{
        margin-left: 27rem;
        color: $primary;
        font-size: 13px;
   }
   nav{
    background: $primary;
    display: flex;
    align-items: center;
    width: 1400px;
    padding: 10px 15px;
    border-bottom: 1px solid gray;
}
  span.logo{
    background: $primary;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    right: 18rem;
  } 
  label{
    position: relative;
    right: 8rem;
    width: 200px;
  }

  input{
    width: 350px;
    background: $error;
    border:none;
    outline: none;
    border-radius: 170px;
    padding: 10px 12px;
  }

  i.bx-search{
    position: relative;
    left:20rem;
    bottom: 1.5rem;
  }

  span{
    margin-left: 25rem;
}
nav{
background: $primary;
display: flex;
align-items: center;
width: 1400px;
padding: 10px 15px;
border-bottom: 1px solid gray;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    right: 5rem;
}

span.exclusive{
    position: relative;
    right: 15rem;
}

i.bx-heart{
    position: relative;
    right: 14rem;
}

i.bx-cart-alt{
    position: relative;
    right: 12rem;
}

i.bxs-contact{
    position: relative;
    right: 10rem;
    color: $Originalblue;
}

i.bxl-apple{
    color: $primary;
}

li{
    list-style: none;
};
}

.hero{
  .herobegin{
    color:#fff;
    display: flex;
  }
  .bxl-apple{
    margin-top: 2rem;
    font-size: 80px;
    margin-left: 9rem;
    position: relative;
    top: 2rem;
  }
  .phoneseries{
    margin-top: 4rem;
    margin-left: 5rem;
    position: relative;
    right: 3.5rem;
    font-size: 18px;
    top: 2rem;
  }

  .herostart{
    background: transparent;
    color: white;
    margin-top: 15rem;
  }
  .voucher{
    margin-left: 10rem;
    font-size: 40px;
    position: relative;
    bottom: 12rem;
  }

  span{
    text-decoration: underline;
    position: relative;
    bottom: 10rem;
    left: 10.5rem;
    
  }

  .bx-right-arrow-alt{
    position: relative;
    bottom: 10rem;
    left: 10.5rem;
  }

  img{
    position: relative;
    display:inline-block;
    left: 20rem;
    bottom: 4rem;
    
  }

  height : 478px;
  width: 1125px;
  background-image: url(./hero_endframe__cvklg0xk3w6e_large\ 2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  padding: 15px 20px;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  right: 3rem;
}

section.container1 {
div{
  display: flex;
  gap: 5rem;
}
.pic{
  box-shadow: 0px 34.867px 46.4894px rgba(212, 217, 232, 0.2);
  border-radius: 18.5958px;
  width: 150px;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 10px 15px;
}


.img{
 width: 80px;
 height: 70px;
 margin: auto;
 object-fit: contain;

}

}

section.container2{
  margin-top: 2rem;
  .explore{
    h2{
      font-size: 30px;
    }
    a{
      color:$lightblue;
    }
    display: flex;
    gap: 58rem;
    margin: auto;
    margin-left: 8rem;
  }
  
  .items1{
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 3rem;
   
    .pic1{
   height: 400px; 
   width: 350px;
  }

  .pic2{
    height: 400px;
    width: 750px;
  }

}

  .items2{
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    margin-top: 1.5rem;

    .pic3{
      height: 400px;
      width: 720px;
    }

    .pic4{
      height: 400px;
      width: 380px;
    }
  }
}

section.container3{
margin-top: 6rem;
display: flex;
gap: 2.8rem;
margin-left: 8rem;
div{

p{
  margin-top: 0.8rem;
  line-height: 1.2rem;
  color: #1E1E1E;
}

button{
  margin-top: 0.8rem;
  width: 120px;
  height: 30px;
  padding: 0.5px 0.7px;
  background-color: $demoblue;
  border-radius: 5px;
  border: none;
}

.bx-right-arrow-alt{
  position: relative;
  right: 2rem;
  top: 0.2rem;
}
}
}


section.container4{
display: flex;
margin-top: 5rem;
margin-left: 6rem;

  .rect1{
    width: 750px;
    height: 90px;
    position: relative;
    left: 2.9rem;
  }

  h3{
    position: relative;
    bottom: 4.5rem;
    left: 4rem;
  }

  span{
    position: relative;
    bottom: 4.5rem;
    left: 4rem;
  }

  .rect2{
    width: 420px;
    height: 90px;
  }

  .btn2{
    background-color: $secondary;
    width: 200px;
    color: $primary;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    right: 8rem;
    bottom: 3rem;
  }
}

section.container5{

  .arrivals{
    display: flex;
    gap: 1rem;
    margin-left: 9.5rem;

    .smallobject{
      height: 40px;
      background-color: $Originalblue;
      width: 20px;
    }

    h4{
      color: $Originalblue
    }
  }
  
    h3{
      margin-top: 1rem;
      font-size: 30px;
      margin-left: 9.5rem;
    }

    .itemcollections{
      display: flex;
      gap: 2rem;
      margin-top: 1.5rem;
      margin-left: 9.5rem;
    }

    .playstation{
      height: 560px;
    }

    .attractivewoman{
      height: 270px;
      width: 540px;
    }

    .itemspeaker{
      height: 270px;
      margin-top: 1rem;
    }

    .itemcologne{
      height: 270px;
      position: relative;
      left: 1.5rem;
    }
}

section.container6{
  h4{
    margin-top: 5rem;
    margin-left: 9.5rem;
  }
  .itemaccesories{
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      margin-left: 9.5rem;
    .itemdiv{
      background-color:$grey;
      height: 250px;
      width:250px;
      background-image: url(./image\ 32.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 150px;
    }

    .itemdiv2{
      background-color: $grey;
      height: 250px;
      width: 250px;
      background-image: url(./image\ 22.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 130px;
    }

    .itemdiv3{
      background-color: $grey;
      height: 250px;
      width: 250px;
      background-image: url(./image\ 35.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px;
    }

    .itemdiv4{
      background-color: $grey;
      height: 250px;
      width: 250px;
      background-image: url(./image\ 34.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px;
    }
  }
    .itemprices{
      display: flex;
      margin-left: 9.5rem;
      gap: 7.5rem;
      margin-top: 0.5rem;
    }

    .itembuttons{
      display: flex;
      margin-left: 8rem;
      gap: 9rem;
      margin-top: 0.5rem;

    .itembtn{
      width: 120px;
      height: 30px;
      padding: 0.5px 0.7px;
      border: #dee2e7;
      outline: none;
      border-radius: 5px;
      color: $strongblue;
    } 

    .bx-cart-alt{
      position: relative;
      left: 1.4rem;
      color:$strongblue;
    }

    }
}

footer{
  background-color: $tertiary;
  height: 650px;
  width:1400px;
  margin-top: 4rem;
  
  .referralprogram{
    display: flex; 
    position: relative;
    top:  3rem;
    left: 3rem;
    padding-bottom: 4rem;

    border-bottom: 1px solid #ffffff66;
  }
  .referral{
    color: $primary;
    margin-left: 1rem;
    line-height: 1.5rem;
  }


  .footerimg2{
    margin-left: 30rem;
  }

  .delivery{
    margin-left:1rem;
    color: $primary;
    line-height: 1.5rem;
  }
  .midfooter{
    display: flex;
    gap: 6rem;
    margin-left: 3rem;
    border-bottom: 1px solid #ffffff66;
    padding-bottom: 2rem;
  }

  .middivf1{
    color: $primary;
    margin-top: 8rem;
    line-height: 2rem;
  }

  .middivf2{
    color: $primary;
    margin-top: 8rem;
    line-height: 2rem;
  }

  .middivf3{
    color: $primary;
    margin-top: 8rem;
    line-height: 2rem;
  }
 
  .middivf4{
    color: $primary;
    margin-top: 8rem;
    line-height: 2rem;
  }

  .middivf5{
    color: $primary;
    margin-top: 8rem;
    line-height: 2rem;
  }

  .appstore{
    display: flex;
    gap: 1rem;
  }

  .bottomfooter{
    display: flex;
    gap: 40rem;
    margin-left: 3rem;
    margin-top: 2rem;
    
  p{
    color: $primary;
  }
  .typetext{
    color: #AB4E1A;
  }
  .bx-copyright{
    color: $primary;
  }
  span{
    color:$primary;
  }
}
}

